* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,600&subset=cyrillic');

body {
    font-family: 'Montserrat', sans-serif; 
    overflow-y: scroll;
    overflow-x: hidden;
}

img {
    display: block;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.sidebar {
    background-color: #f05f40;
    position: fixed;
    height: 100vh;
    width: 120px;
}

.sidebar__ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.sidebar__ul__a {
    cursor: pointer;
}

@-webkit-keyframes blinker {
  from {opacity: 1.0;}
  to {opacity: 0.0;}
}

.blink {
	text-decoration: blink;
	-webkit-animation-name: blinker;
	-webkit-animation-duration: 0.4s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:ease;
	-webkit-animation-direction: alternate;
}

.sidebar__ul__a__span {
    font-size: 2em;
    color: rgba(255, 255, 255, 0.6);
    transition: color .3s ease;
}

.sidebar__ul__a__span:hover {
    color: #fff;
}

.main {
    margin-left: 120px;
    min-height: 100vh;
}

.main__content {
    position: relative;
    top: 150px;
    padding: 0 4vw;
}

.main__content__h1 {
    text-align: center;
    position: relative;
    top: 30vh;
    font-weight: 100;
    font-size: 2.4em;
}

.main__header {
    background-color: rgb(255, 143, 51);
    color: #fff;
    padding: 4px 0;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.main__header__login {
    text-align: right;
    padding-right: 140px;   
}

.main__header__login > span {
    vertical-align: middle;
    font-size: 1.1em;
    margin-right: 10px;
}

.main__header__login > img {
    border-radius: 50%;
    border: 2px solid #fff;
    vertical-align: middle;
    display: inline-block;
}

.orders {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.order {
    margin: 20px 0 100px;
}

.order-h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5em;
}

.order-print-btn {
    font-size: 13.3333px;
}

.order-del-btn {

}

.table-info {
    border-collapse: collapse;
    /* position: relative;
    top: 100px; */
    margin: 40px 0;
}

.table-info-tr {
    width: 800px;
}

.table-info-tr-td {
    border: 1px solid #000;
    padding: 7px;
    word-break: break-all;
    word-wrap: break-word;
}

@media screen and (max-width: 750px) {
    .table-info-tr-td {
        display: block;
    }
}

.order-ch-btn {
    transition: opacity .3s ease;  
}

.order-ch-btn:disabled {
    opacity: .5;
}

/* .table-info-tr-td:nth-child(17) {
    border: 1px solid #000;
    padding: 7px;
    word-break: break-all;
    word-wrap: break-word;
}

.table-info-tr-td:nth-child(18) {
    border: 1px solid #000;
    padding: 7px;
    word-break: break-all;
    word-wrap: break-word;
}

.table-info-tr-td:nth-child(19) {
    border: 1px solid #000;
    padding: 7px;
    word-break: break-all;
    word-wrap: break-word;
}    */

.table-info-tr-td-span {
    font-weight: 600;
}

.table-info-tr-td-input {
    outline: none;
}

.space-td {
    padding: 20px 7px !important;
}

.admin-btn {
    border: none;
    padding: 6px 14px;
    border-radius: 4px;
    background-color: rgb(59, 106, 233);
    color: #fff;
    cursor: pointer;
    outline: none;
    margin: 10px 10px 0 0;
}

.admin-add-btn {
    margin: 40px 0;
}

.admin-add-form {
    display: none;
    margin: 20px 0;
}

.admin-div {
    margin: 20px 0;
}

.admin-row {
    margin: 0 20px 0 10px;
}

.admin-del-btn {

}

.admin-active {
    color: red;
}

.admin-img {
    border-radius: 50%;
    border: 2px solid rgb(169, 169, 169);
    vertical-align: middle;
    display: inline-block;
}

.admin-ch-form {
    display: none;
    margin: 30px 0 0;
}

.news-add-form {
    display: none;
    margin: 30px 0 0;
}

.news-add-btn {
    margin: 40px 0 0;
}

.news-add-form > textarea {
    display: inline-block;
    vertical-align: middle;
}

.news {
    margin: 40px 0;
}

.new {
    margin: 80px 0;
}

.new > label {
    display: block;
    font-weight: 600;
    margin: 20px 0;
    font-size: 1.2em;
}

.new > input {
    outline: none;
    width: 100%;
}

.new-img {
    max-width: 100%;
    max-height: 80vh;
}

.new-article {
    margin: 10px 0;
    font-size: 1.1em;
    border: none;
    border-bottom: 1px solid #000;
}

.edit-new-article {
    transition: opacity .3s ease;
}

.edit-new-article:disabled {
    opacity: .5;
}

.new-href {
    font-size: 1.1em;
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid #000;
}

.edit-new-href {
    transition: opacity .3s ease;
}

.edit-new-href:disabled {
    opacity: .5;
}

.new-content {
    font-size: 1.1em;
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid #000;
    display: block;
    width: 100%;
    outline: none;
}

.edit-new-content {
    transition: opacity .3s ease;
}

.edit-new-content:disabled {
    opacity: .5;
}

.comments {

}

.comment {
    margin: 0 0 100px;
}

.comment-name {
    font-weight: 400;
    font-size: 1.1em;
    margin: 20px 0;
}

.comment-msg {
    font-weight: 200;
    margin: 30px 0 40px;    
}

.news__a {
    position: relative;
    overflow: hidden;
    display: block;
}

.news__a:after {
    content: attr(title);
    position: absolute;
    bottom: 0;
    left: 50%;
    padding: 20px 0;
    background-color: rgba(0, 0, 0, .8);
    text-align: center;
    width: 100%;
    transform: translateX(-50%);
    color: #fff;
    font-weight: 600;
}

.news__a__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    min-height: 50vh;
    max-height: 70vh;
}

.render-h1 {
    margin: 0 0 40px;
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
  
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }
  
  .apply-shake {
      animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  }

  .show {
    display: block;
}

@media screen and (max-width: 600px) {
    .sidebar {
        position: static;
        width: 100%;
        height: auto;
        padding: 25px 0;
    }
    .sidebar__ul {
        height: auto;
        flex-direction: row;
    }
    .main {
        margin-left: 0;
        position: static;
        display: flex;
        flex-direction: column-reverse;
        min-height: auto;
    }
    .main__header {
        position: static;
    }
    .main__header__login {
        padding-right: 20px;
    }
    .main__content {
        position: static;
        top: 0;
        min-height: 100vh;
        margin-top: 40px;
    }
    .main__content__h1 {
        font-size: 2em;
    }
    .admin-btn {
        margin: 10px 10px 0 0;
    }
}