* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,600&subset=cyrillic');

body {
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-image: url('img/auth.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.overlay {
    position: absolute;
    width: inherit;
    height: inherit;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .8);
}

.container {
    background-color: transparent;
    position: absolute;
    margin: auto;
    width: 310px;
    height: 350px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scale(0);
    transition: transform .7s ease;
    z-index: 11;
    box-shadow: 2px 2px 30px 4px rgba(0, 0, 0, .4);
}

.container.scale--on {
    transform: scale(1);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: inherit;
}

input {
    outline: none;
    border: none;
    background-color: #3c3c3c;
    color: #fff;
    padding: 10px 0;
    width: 80%;
    display: block;
    font-size: 18px;
    text-indent: 10px;
}

input[type="submit"] {
    display: block;
    background-color: #147bda;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}

input::placeholder {
    color: #8e8e8e;
    font-size: 18px;
}

.log {
    font-size: 100px;
    color: #147bda;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100px;
    height: 100px;
    cursor: pointer;
    z-index: 10;
    opacity: 1;
    transition: opacity .5s ease;
}

.log.fadeOut {
    opacity: 0;
}

.close {
    cursor: pointer;
    font-size: 2em;
    color: #8e8e8e;
    align-self: flex-end;
    margin-right: 35px;
}

.menu-icon {
    position: absolute;
    width: 32px;
    cursor: pointer;
    right: 30px;
    top: 23px;
}

.menu-icon-hr {
    background-color: #fff;
    height: 2px;
    width: 100%;
    margin: 7px 0;
    z-index: 30;
}

.menu {
    position: absolute;
    z-index: 50;
    width: 100%;
    height: 0;
    background-color: #147bda;
    transition: height 1s cubic-bezier(.99,0,.3,1);
}

.hidden {
    visibility: hidden;
    cursor: none;
    opacity: 0;
    transition: visibility .7s ease, opacity .7s ease;
}

.close-m {
    font-size: 2.4em;
    color: #fff;
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}

.menu > nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    display: none;
}

.menu > nav > a {
    text-decoration: none;
    color: #fff;
    font-size: 1.7em;
    cursor: pointer;
    font-weight: 100;
}

.border-bottom {
    display: inline-block;
}

.border-bottom:after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #fff;
    transition: width .3s;
}

.border-bottom:hover:after {
    width: 100%;
}

.border-bottom:active:after {
    width: 100%;
}

@media screen and (max-width: 600px) {
    .menu > nav {
        flex-direction: column;
        height: 40vh;
    }
    .menu > nav > a {
        font-size: 1.2em;
    }
    .close-m {
        font-size: 2em;
    }
    .log {
        font-size: 80px;
        width: 80px;
        height: 80px;
    }
}