* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,600&subset=cyrillic');

body {
    font-family: 'Montserrat', sans-serif; 
    overflow-y: scroll;
    overflow-x: hidden;
    
}

img {
    display: block;
    max-width: 100%;
    max-height: 80vh;
}

header {

}

.menu {
    position: fixed;
    z-index: 150;
    width: 100%;
    height: 0;
    background-color: #f05f40;
    transition: height 1s cubic-bezier(.99,0,.3,1);
}

.hidden {
    visibility: hidden;
    cursor: none;
    opacity: 0;
    transition: visibility .7s ease, opacity .7s ease;
}

.close-m {
    font-size: 2.4em;
    color: #fff;
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}

.menu > nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    display: none;
    height: 40vh;
}

.menu > nav > a {
    text-decoration: none;
    color: #fff;
    font-size: 1.7em;
    cursor: pointer;
    font-weight: 100;
}

.border-bottom {
    display: inline-block;
}

.border-bottom:after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #fff;
    transition: width .3s;
}

.border-bottom:hover:after {
    width: 100%;
}

.border-bottom:active:after {
    width: 100%;
}

.nav {
    background-color: rgb(255, 143, 51);
    position: fixed;
	padding: 20px 0;
	width: 100%;
	text-align: right;
	z-index: 100;
	/* transition: background-color .4s ease; */
}

.nav__a {
    color: rgba(255, 255, 255, .7);
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.2em;
    transition: color .3s;
}

.nav__a:hover {
    color: #fff;
}

.menu-icon {
    width: 32px;
    cursor: pointer;
    display: none;
    margin-left: auto;
    position: relative;
    right: 20px;
}

.menu-icon-hr {
    background-color: #fff;
    height: 2px;
    width: 100%;
    margin: 7px 0;
    z-index: 30;
}

main {
    padding: 62px 8px 0;
}

@media screen and (max-width: 600px) {
    .nav {
        padding: 10px 0;
    }
    .nav__a {
        display: none;
    }
    .menu-icon {
        display: block;
    }
    .menu > nav > a {
        font-size: 1.2em;
    }
    main {
        padding: 54px 8px 0;
    }
}

.new {

}

.new-article {
    font-size: 1.2em;
    font-weight: 600;
    margin: 40px 0 30px;
}

.new-content {
    font-size: 1.1em;
    line-height: 1.7;
}

.hr {
    height: 3px;
    width: 60px;
    border: none;
}

.new-form {
    width: 320px;
}

.new-hr {
    background-color: #f05f40;
    margin: 100px 0 60px;
}

.new-form > label {
    display: block;
    margin: 10px 0;
}

.new-form > textarea {
    vertical-align: middle;
    display: block;
    margin: 0 0 20px;
    width: 90%;
}

.new-form > input {
    display: block;
    margin: 0 0 20px;
    width: 90%;
    padding: 10px;
    outline: none;
}

.new-form > input[type=submit] {
    
}

.comments {
    margin: 60px 0 0;
}

.comment {
    margin: 50px 0;
}

.comment-name {
    font-weight: 600;
    font-size: 1.2em;
    margin: 20px 0;
}

.comment-message {
    font-size: 1.1em;
}