* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,600&subset=cyrillic');

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}
  
img {
    display: block;
    max-height: 100vh;
}

.sidebar {
    position: fixed;
    width: 200px;
    background-color: rgb(255, 143, 51);
    height: 100vh;
}

.sidebar__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.sidebar__nav__a {
    color: #fff;
    text-decoration: none;
    font-size: 1.3em;
    opacity: .7;
    font-weight: 100;
    margin: 40px 0;
    transition: opacity .3s ease;
}

.sidebar__nav__a:hover {
    opacity: 1;
}

.content {
    margin-left: 200px;
}
  
.news {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, max-content));
    grid-auto-flow: dense;
}

.news__a {
    position: relative;
    overflow: hidden;
    display: block;
}

.news__a:nth-child(1) {
    grid-column: auto / span 2;
}

@media screen and (max-width: 1130px) {
   .news__a:nth-child(1) {
    grid-column: auto / auto;
}
}

.news__a:after {
    content: attr(title);
    position: absolute;
    bottom: 0;
    left: 50%;
    padding: 20px 0;
    background-color: rgba(0, 0, 0, .8);
    text-align: center;
    width: 100%;
    transform: translateX(-50%);
    color: #fff;
    font-weight: 600;
}

.news__a__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    min-height: 50vh;
}

@media screen and (max-width: 510px) {
    .sidebar {
        position: static;
        height: auto;
        width: 100%;
    }
    .sidebar__nav {
        height: auto;
        flex-direction: row;
        justify-content: space-around;
    }
    .sidebar__nav__a {
        font-size: 1.2em;
        margin: 25px 0;
    }
    .content {
        margin-left: 0;
    }
    .news__a__div:nth-child(2n) {
        grid-column: 1;
    }
}