* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,600&subset=cyrillic');

body {
    font-family: 'Montserrat', sans-serif; 
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 8px;
}

header {
    margin: 40px 40px 80px;
}

.header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 20px;
}

.logo {
    min-width: 200px;
    max-height: 200px;
}

.header-top-p {
    text-align: center;
}

.header-top-p > p {
    margin: 10px 0;
    font-size: 1.2em;
}

.p-fest {
    font-weight: 600;
}

.p-gre {
    font-weight: 600;
    text-transform: uppercase;
}

.p-date {
    color: #c24c44;
}

.p-place {
    text-transform: uppercase;
}

.p-park {

}

.p-site {
    color: #c24c44;
}

.header-bottom-p {
    font-size: 0.9em;
    text-align: center;
    font-weight: 600;
    border-top: 4px solid #599155;
    padding: 6px 0 0;
}

main {

}

.order-h1 {
    color: red;
    text-transform: uppercase;
    font-size: 1.6em;
    text-align: center;
}

.order-h2 {
    text-transform: uppercase;
    font-size: 1em;
    text-align: center;
    margin: 60px 0 20px;
}

.ask {
    color: red;
    text-align: center;
    font-weight: 600;
    margin: 40px 0;
}

.face {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 40px;   
}

.face-left {
    font-weight: 600;
}

.sign {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer {
    width: 95%;
    margin: 0 auto;
}

.table-info {
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
}

.table-info-tr {
    width: 800px;
}

.table-info-tr-td {
    border: 1px solid #000;
    padding: 7px;
    word-break: break-all;
    word-wrap: break-word;
}

.table-info-tr-td-span {
    font-weight: 600;
}

.table-info-tr-td-input {
    outline: none;
    margin: 10px 0;
}

.admin-btn {
    border: none;
    padding: 6px 14px;
    border-radius: 4px;
    background-color: rgb(59, 106, 233);
    color: #fff;
    cursor: pointer;
    outline: none;
    margin: 40px 10px 40px 0;
}

.div2 {
    width: 90%;
    margin: 40px auto;
}

.span2 {
    text-transform: uppercase;
    font-weight: 600;
}

@page { 
    size: auto;
    margin: 0mm; 
}

@media print {
    header {
        margin: 20px 0 40px;
    }
    .order-h2 {
        margin: 20px 0;
    }
    .admin-btn {
        display: none;
    }
}