* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&subset=cyrillic');

body {
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

main {
    padding: 2%;
}

h1 {
    color: red;
    text-transform: uppercase;
    text-align: center;
}

.select {
    margin: 60px 0;
}

#form-one, #form-two {
    display: none;
}

h2 {
    margin-bottom: 60px;
}

textarea {
    vertical-align: top;
}

.div2 {
    margin: 40px 0;
}

.span2 {
    margin-bottom: 10px;
}

.table-info {
    width: 100%;
    margin: 30px auto;
    border-collapse: collapse;
}

.table-info-tr {
    width: 800px;
}

.table-info-tr-td {
    border: 1px solid #000;
    padding: 7px;
    word-break: break-all;
    word-wrap: break-word;
}

.table-info-tr-td-span {
    font-weight: 600;
}

.table-info-tr-td-input {
    outline: none;
    margin: 10px 0;
}

.ask {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.space-td {
    padding: 20px 7px !important;
}

.submit {
    margin: 0 auto 30px;
    display: block;
}

footer {
    background-color: #4e4e4e;
    padding: 30px 0;
}

footer > nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer > nav > a {
    margin: 0 35px;
    text-decoration: none;
    color: #969696;
    font-size: 1.2em;
}

@media screen and (max-width: 600px) {
    .table-info-tr-td {
        display: block;
    }
}

@media screen and (max-width: 500px) {
    footer > nav {
        height: inherit;
        flex-direction: column;
    }

    footer > nav > a {
        margin: 15px 0;
    }
}