* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,600&subset=cyrillic');

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif; 
}

body::after {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content: url(./img/1.jpg) url(./img/2.jpg) url(./img/3.jpg) url(./img/4.jpg);
}

img {
	display: block !important;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f05f40;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  opacity: 1;
  transition: opacity 1s ease;
}

.preloader__loader {
  width: 30px;
  height: 30px;
  background: #fff;
  margin: 44vh auto;
  border-radius: 50%;
  background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 50%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 50%);
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 50%);
  background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 50%);
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 50%);
  position: relative;
  -webkit-animation: loader 1.5s infinite linear;
  animation: loader 1.5s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.preloader__loader:before {
  content: '';
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  border-radius: 100% 0 0 0;
}

.preloader__loader:after {
  content: '';
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #f05f40;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.menu {
    position: fixed;
    z-index: 150;
    width: 100%;
    height: 0;
    background-color: #f05f40;
    transition: height 1s cubic-bezier(.99,0,.3,1);
}

.hidden {
    visibility: hidden;
    cursor: none;
    opacity: 0;
    transition: visibility .7s ease, opacity .7s ease;
}

.close-m {
    font-size: 2.4em;
    color: #fff;
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}

.menu > nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    display: none;
    height: 40vh;
}

.menu > nav > a {
    text-decoration: none;
    color: #fff;
    font-size: 1.7em;
    cursor: pointer;
    font-weight: 100;
}

.border-bottom {
    display: inline-block;
}

.border-bottom:after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #fff;
    transition: width .3s;
}

.border-bottom:hover:after {
    width: 100%;
}

.border-bottom:active:after {
    width: 100%;
}

.hr {
    height: 3px;
    width: 60px;
    border: none;
}

.play {
    
}

.play__bg {
    background-image: url(./img/1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    transition: background-image .8s;
}

.play__overlay {
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .75);
}

.play__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    text-align: center;
}

.play__inner__nav {
    position: fixed;
	padding: 20px 0;
	width: 100%;
	text-align: right;
	z-index: 100;
	transition: background-color .4s ease;
}

.logo {
    width: 50px;
    height: 50px;
    top: 5px;
    left: 5px;
    position: absolute;
}

.play__inner__nav__a {
    color: rgba(255, 255, 255, .7);
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.2em;
    transition: color .3s;
}

.play__inner__nav__a:last-child {
	/* padding-right: 40px; */
}

.play__inner__nav__a:hover {
    color: #fff;
}

.menu-icon {
    width: 32px;
    cursor: pointer;
    display: none;
    margin-left: auto;
    position: relative;
    right: 20px;
}

.menu-icon-hr {
    background-color: #fff;
    height: 2px;
    width: 100%;
    margin: 7px 0;
    z-index: 30;
}

@media screen and (max-width: 600px) {
    .play__inner__nav {
        padding: 15px 0;
    }
    .play__inner__nav__a {
        display: none;
    }
    .menu > nav > a {
        font-size: 1.2em;
    }
    .menu-icon {
        display: block;
    }
}

.play__inner__h1 {
    color: #fff;
    font-size: 4em;
    font-weight: 400;
    position: absolute;
    top: 47vh;
    left: 50%;
    width: 90%;
    transform: translateX(-50%);
}

.play__inner__hr {
    position: absolute;
    top: 60vh;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f05f40;
}

.play__inner__p {
    color: #fff;
    font-size: 1.5em;
    line-height: 1.6;
    text-transform: uppercase;
    position: absolute;
    top: 68vh;
    left: 50%;
    width: 90%;
    transform: translateX(-50%);
}

.play__inner__p__fest {

}

.play__inner__p__date {
    text-transform: none;
}

.play__inner__p__place {
    text-transform: none;
}

@media screen and (max-width: 606px) {
    .play__bg, .play__inner, .play__overlay {
        height: 120vh;
    }
    .play__inner__h1 {
        font-size: 2.6em;
    }
    .play__inner__p {
        font-size: 1.4em;
        line-height: 2;
    }
}

@media screen and (max-width: 394px) {
    .play__inner__h1 {
        font-size: 2em;
    }
    .play__inner__p {
        font-size: 1.3em;
    }
}

.extra {
    background-color: #f05f40;
    text-align: center;
    padding: 120px 0 140px;
    overflow: hidden;
    position: relative;
}

.extra__strip {
    width: 100%;
    height: 30px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: -45%;
    transform: rotate(140deg);
}

@media screen and (max-width: 600px) {
    .extra__strip {
        left: -40%;
    }
}

.extra__h1 {
    color: #fff;
    font-size: 2.6em;
    font-weight: 400;
}

.extra__hr {
    background-color: #fff;
    margin: 40px auto 60px;
}

.extra__p {
    color: #fff;
    font-weight: 200;
    font-size: 1.2em;
    line-height: 1.6;
    padding: 0 20px;
    text-align: justify;
}

@media screen and (max-width: 900px) {
    .extra__p {
        padding: 0 10px;
    }
}

.advantages {
    padding: 100px 0;
}

.advantages__h1 {
    text-align: center;
    color: rgb(56, 56, 56);
    font-size: 3em;
}

.advantages__hr {
    background-color: #f05f40;
    margin: 40px auto 100px;
}

.advantages__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 36px;
}

.advantages__container__advantage {
    text-align: center;
    border-radius: 20px;
    width: 280px;
    padding: 130px 0;
    /* margin: 0 12px; */
    position: relative;
    backface-visibility: hidden;
    line-height: 1;
    -webkit-font-smoothing: subpixel-antialiased;
    transition: transform .2s ease, box-shadow .2s ease;
}

.advantages__container__advantage:hover, .advantages__container__advantage:active {
    transform: translate3d(0, -16px, 0);
    box-shadow: 3px 10px 30px rgb(219, 219, 219);
}

.advantages__container__advantage__p {
    color: #fff;
    font-size: 18px;
    margin-top: 30px;
    font-weight: 100;
}

.advantages__entry {
    text-transform: uppercase;
    text-align: center;
    margin: 60px 0;
    font-weight: 100;
    font-size: 2.4em;
    color: #dd2127;
}

.entry__video {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 40px auto;
}

.presentation-div {
    text-align: center;
    margin: 60px auto 0;
}

.presentation-a {
    color: #fff;
    text-decoration: none;
    background-color: #f05f40;
    padding: 10px 30px;
    font-weight: 600;
    transition: background-color .2s ease;
}

.presentation-a:hover, .presentation-a:active {
    background-color: #dd2127;
}

.videos-youtube {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 80px 0 0;
}

.videos-youtube > iframe {
    width: 400px;
    height: 280px;
}

.icons_adv {
    color: #fff;
    font-size: 3em;
}

@media screen and (max-width: 900px) {
    .advantages__container {
        flex-direction: column;
        margin-left: 0;
    }
    .advantages__container__advantage {
        right: 0 !important;
        margin: 20px 0;
    }
    .entry__video {
        max-width: 100%;
    }
    .videos-youtube {
        flex-direction: column;
        margin: 40px 0;
    }
    .videos-youtube > iframe {
        margin: 40px 0;
        width: 600px;
        height: 400px;
    }
}

@media screen and (max-width: 680px) {
    .videos-youtube > iframe {
        width: 400px;
        height: 280px;
    }
}

@media screen and (max-width: 460px) {
    .videos-youtube > iframe {
        width: 300px;
        height: 280px;
    }
}

.entertainment {
    background-image: url('img/5.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.entertainment__overlay {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, .85);
}

.entertainment__overlay__container {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.entertainment__overlay__container__div {
    color: #fff;
    padding: 0 20px;
}

.ent-star {
    font-size: 2.2em;
    margin-right: 20px;
}

.entertainment__overlay__container__div > span {
    line-height: 50px;
    vertical-align: middle;
}

.entertainment__overlay__container__div__span {
    font-size: 1.4em;
    word-wrap: break-word;
}

.entertainment__overlay__container__p {
    position: absolute;
    bottom: 10vh;
    text-align: center;
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    font-size: 2em;
}

@media screen and (max-width: 900px) {
    .entertainment {
        height: 130vh;
    }
    .entertainment__overlay {
        height: 130vh;
    }
    .entertainment__overlay__container {
        margin-top: 60px;
    }
    .entertainment__overlay__container__div > span {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 500px) {
    .entertainment, .entertainment__overlay {
        height: 240vh;
    }
    .entertainment__overlay__container {
        margin-top: 380px;
    }
    .entertainment__overlay__container__p {
        font-size: 1.6em;
        bottom: 3vh;
    }
}

.guests {
    padding: 60px 0;
    text-align: center;
}

.guests__h1 {
    color: rgb(56, 56, 56);
    font-size: 3em;
}

.guests__hr {
    background-color: #f05f40;
    margin: 40px auto 60px;
}

.guests__p {
    text-align: justify;
    line-height: 1.6;
    padding: 0 20px;
    font-size: 1.2em;
}

.guests__ul {
    margin: 20px 0 0 20px;
    text-align: left;
    padding: 0 20px;
}

.guests__ul > li {
    font-size: 1.1em;
    margin: 6px 0;
}

@media screen and (max-width: 900px) {
    .guests__p {
        padding: 0 10px;
    }
    .guests__ul {

        padding: 0 10px;
    }
}

.slider {
    box-sizing: border-box;
}

.slick-slide {
    width: 60vw;
}

@media screen and (max-width: 600px) {
    .slick-slide {
        width: 80vw;
    }
}

.classes {
    margin-top: 100px;
}

.classes__h1 {
    color: rgb(56, 56, 56);
    font-size: 2.5em;
    text-align: center;
}

.classes__hr {
    background-color: #f05f40;
    margin: 40px auto 100px;
}

.classes__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 930px) {
    .classes__grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 620px) {
    .classes__grid {
        grid-template-columns: 1fr;
    }
}

.classes__grid__item {
    position: relative;
    width: 100%;
}

.classes__grid__item__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 50vh;
}

.classes__grid__item__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all .4s ease;
    background-color: #f05f40;
}

.classes__grid__item:hover .classes__grid__item__overlay, .classes__grid__item:active .classes__grid__item__overlay {
    opacity: 1;
}

.classes__grid__item__overlay__text {
    color: #fff;
    font-size: 1.2em;
    font-weight: 300;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    user-select: none;
}

.order {
    padding: 180px 0;
    background-color: #212529;
    text-align: center;
}

.order__h1 {
    color: #fff;
    font-size: 2.4em;
    font-weight: 400;
    margin-bottom: 100px;
}

@media screen and (max-width: 500px) {
    .order__h1 {
        font-size: 2em;
        margin-bottom: 80px;
    }
}

.order__a {
    border: none;
    border-radius: 40px;
    width: 240px;
    padding: 20px 0;
    display: table;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
    font-size: 1.1em;
    font-weight: 400;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color .35s;
}

.order__a > a {
    color: #212529;
    text-decoration: none;
}

.order__a:hover {
    background-color: rgb(196, 196, 196);
}

.contacts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contacts__bg {
    background-image: url('img/contact.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}

.contacts__bg, .contacts__content {
    flex: 1;
    height: 120vh;
}

.contacts__h1 {
    text-align: center;
    font-size: 2.6em;
    margin-top: 40px;
    color: rgb(56, 56, 56);
}

.contacts__hr {
    background-color: #f05f40;
    margin: 40px auto 60px;
}

.contact-form {
    width: 90%;
    margin: 0 auto;
}

.form-group {
    margin: 10px 0;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #dcdcdc;
}

.group-p {
    margin: 10px 0;
    font-size: 1.1em;
}

.form-group > input, .form-group > textarea {
    border: none;
    outline: none;
    font-size: 1.2em;
    min-width: 290px;
    width: 100%;
    box-sizing: border-box;
}

.form-group > input {

}

.form-group > select {
    font-size: 1.2em;
}

.form-group > textarea {
    resize: none;
}

.form-group > input:placeholder {
    
}

input[type=submit] {
    font-size: 1.2em;
    margin-top: 20px;
    display: block;
    padding: 10px 30px;
    -webkit-appearance: none;
    border-radius: 20px;
    appearance: none;
    cursor: pointer;
    -moz-appearance: none;
}

@media screen and (max-width: 900px) {
    .contacts {
        flex-direction: column;
    }
    .contacts__bg {
        display: none;
    }
    .form-group {
        padding: 20px 200px 20px 20px;
    }
    .form-group > select {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .form-group {
        padding: 20px 100px 20px 20px;
    }
}

@media screen and (max-width: 400px) {
    .contacts__content {
        height: 150vh;
    }
    .form-group {
        padding: 10px 30px 10px 10px;
    }
}

.map {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    min-height: 200px;
}
.map > iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.footer {
    background-image: url('img/food-bg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
}

.footer__overlay {
    position: absolute;
    height: 80vh;
    background-color: rgba(0, 0, 0, .8);
    width: 100%;
}

.footer__overlay__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding: 50px 0 100px;
}

.footer__overlay__container__item {
    
}

.footer__overlay__container__item__h2 {
    color: #fff;
    font-weight: 100;
    margin-bottom: 40px;
}

.footer__overlay__container__item__p {
    color: rgba(255, 255, 255, .6);
    font-size: 1.1em;
    max-width: 500px;
    line-height: 2;
}

.footer__overlay__container__item__nav {
    
}

.footer__overlay__container__item__nav > a {
    color: rgba(255, 255, 255, .6);
    font-size: 1.1em;
    text-decoration: none;
    display: block;
    margin: 30px 0;
    transition: color .2s ease;
}

.footer__overlay__container__item__nav > a:last-child {
    padding: 0 !important;
}

.footer__overlay__container__item__nav > a:hover {
    color: rgba(255, 255, 255, 1);
}

.footer-icons {
    color: rgba(255, 255, 255, .6);
    transition: color .2s ease;
}

.a-icons {
    display: inline !important;
    margin-right: 6px !important;
}

.a-icons:last-child {
    margin-right: 0 !important;
}

.footer-icons:hover {
    color: rgba(255, 255, 255, 1);
}

.know-more {
    color: #fff;
    background-color: transparent;
    text-decoration: none;
    padding: 14px 22px;
    position: relative;
    top: 38px;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color .2s ease;
}

.know-more:hover {
    background-color: rgb(255, 0, 0);
}

.know-more:active {
    background-color: rgb(255, 0, 0);
}

.footer__overlay__copyright {
    color: rgba(255, 255, 255, .6);
    font-size: 1.1em;
    position: absolute;
    bottom: 6vh;
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 900px) {
    .footer, .footer__overlay {
        height: 180vh;
    }
    .footer {
        background-attachment: initial;
    }
    .footer__overlay__container {
        flex-direction: column;
    }
    .footer__overlay__container__item:first-child {
        margin: 0px 0 0 20px;
    }
    .footer__overlay__container__item:nth-child(2) {
        margin: 100px 0 0 20px;
    }
    .footer__overlay__container__item:nth-child(3) {
        margin: 40px 0 60px 20px;
    }
    .footer__overlay__copyright {
        font-size: 1em;
    }
}